html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  padding: 0;
  border: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

html,
body {
  height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Volkhov;
  font-display: swap;
  src: url("../fonts/Volkhov-Bold.woff2") format("woff2"), url("../fonts/Volkhov-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  color: #5e6282;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  background-color: #fff;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(8, 8, 9, 0);
  pointer-events: none;
  z-index: 11;
  -webkit-transition: background-color 0.2s ease, left 0.2s ease;
  -o-transition: background-color 0.2s ease, left 0.2s ease;
  transition: background-color 0.2s ease, left 0.2s ease;
}

body.no-scrol {
  overflow: hidden;
}

body.no-scrol::before {
  left: 330px;
  background-color: rgba(8, 8, 9, 0.5);
  pointer-events: auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 128%;
  font-family: "Volkhov";
  color: #14183e;
  opacity: 0;
}

.title._active {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  display: block;
  opacity: 0;
}

.subtitle._active {
  -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0.3s both;
          animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0.3s both;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.burger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #212832;
  left: 2px;
  right: 2px;
  top: 5px;
  -webkit-transition: top 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out, top 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, top 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.burger::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #212832;
  left: 2px;
  right: 2px;
  bottom: 5px;
  -webkit-transition: bottom 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: bottom 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out, bottom 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, bottom 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, bottom 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.burger--active .burger__line {
  height: 0;
}

.burger--active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 14px;
}

.burger--active::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 14px;
}

.burger__line {
  position: absolute;
  top: 50%;
  left: 2px;
  right: 2px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 2px;
  background-color: #212832;
  -webkit-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(100px) scaleY(2.5) scaleX(0.2);
            transform: translateY(100px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(100px) scaleY(2.5) scaleX(0.2);
            transform: translateY(100px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.header {
  position: fixed;
  top: 0;
  padding: 48px;
  width: 100%;
  margin: 0 auto;
  color: #212832;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3;
  z-index: 10;
  -webkit-transition: padding 0.2s ease-in-out, background-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out, background-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -o-transition: padding 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.header--fixed {
  background-color: #fff;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 10px rgba(8, 8, 9, 0.1);
          box-shadow: 0px 2px 10px rgba(8, 8, 9, 0.1);
}

.header.header--out {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.header .logo {
  margin-right: auto;
}

.header .logo:focus {
  outline: 2px solid #5e6282;
  border-radius: 5px;
}

.header .logo:active {
  outline: transparent;
  opacity: 0.75;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  pointer-events: all;
}

.header .burger-menu {
  display: none;
}

.header .burger-header {
  margin-right: 10px;
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 86px;
  -webkit-column-gap: 62px;
     -moz-column-gap: 62px;
          column-gap: 62px;
}

.header__link {
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header__link:hover {
  color: #df6951;
}

.header__link:focus {
  outline: 2px solid #5e6282;
  border-radius: 5px;
}

.header__link:active {
  outline: transparent;
  opacity: 0.75;
}

.header .login {
  margin-right: 52px;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header .login:hover {
  color: #df6951;
}

.header .login:focus {
  outline: 2px solid #5e6282;
  border-radius: 5px;
}

.header .login:active {
  outline: transparent;
  opacity: 0.75;
}

.header .sign-up {
  margin-right: 42px;
  padding: 9px 21px;
  border: 1px solid #212832;
  border-radius: 5px;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.header .sign-up:hover {
  color: #df6951;
  border-color: #df6951;
}

.header .sign-up:focus {
  outline: 2px solid #5e6282;
  border-radius: 5px;
}

.header .sign-up:active {
  outline: transparent;
  opacity: 0.75;
}

.header__lang {
  position: relative;
}

.header__lang--active .header__lang-list {
  opacity: 1;
  pointer-events: inherit;
  top: 40px;
}

.header__lang--active .header__lang-icon {
  -webkit-transform: rotate(180deg) translateY(50%);
      -ms-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

.header__lang-active {
  padding: 10px 15px 10px 10px;
  position: relative;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header__lang-active:hover {
  color: #df6951;
}

.header__lang-active:hover .header__lang-icon {
  stroke: #df6951;
}

.header__lang-icon {
  width: 9px;
  height: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  stroke: #212832;
  fill: transparent;
  -webkit-transition: stroke 0.2s ease-in-out;
  -o-transition: stroke 0.2s ease-in-out;
  transition: stroke 0.2s ease-in-out;
}

.header__lang-list {
  position: absolute;
  top: 60px;
  left: 50%;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(8, 8, 9, 0.1);
          box-shadow: 0px 2px 10px rgba(8, 8, 9, 0.1);
  -webkit-transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.header__lang-item {
  position: relative;
}

.header__lang-item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 0;
  height: 1px;
  background-color: #212832;
}

.header__lang-link {
  display: block;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  padding: 10px;
}

.header__lang-link:hover {
  color: #df6951;
}

.no-webp .hero {
  background-image: url("../img/decore-hero.png"); }

.hero {
  padding-top: 105px;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50% 90%;
  margin-bottom: 97px;
}

.hero__wrapper {
  position: relative;
  padding: 95px 15px;
}

.hero__image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
}

.hero__image._active {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
}

.hero__contant {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 10px 10px 10px 0;
  border-radius: 20px;
  position: relative;
  z-index: 5;
}

.hero__tagline {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #df6951;
  margin-bottom: 24px;
  text-transform: uppercase;
  opacity: 0;
}

.hero__tagline._active {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hero__title {
  color: #14183e;
  font-weight: 700;
  font-size: 84px;
  line-height: 1.06;
  font-family: "Volkhov";
  letter-spacing: -0.04em;
  margin-bottom: 30px;
  max-width: 545px;
  opacity: 0;
}

.hero__title._active {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.hero__title span {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.hero__title span::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("../img/title-hero-decore.svg");
  background-position: left top;
  background-repeat: no-repeat;
  height: 12px;
  width: 175%;
  bottom: 8%;
  left: -17%;
  background-size: cover;
}

.hero__text {
  max-width: 477px;
  margin-bottom: 34px;
  opacity: 0;
}

.hero__text._active {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

.hero__buttons {
  opacity: 0;
}

.hero__buttons._active {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}

.hero__link {
  display: inline-block;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  background-color: #f1a501;
  padding: 19px 26px;
  margin-right: 44px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  outline: 2px solid transparent;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, outline 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, outline 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.hero__link:hover {
  color: #f1a501;
  background-color: #fff;
  outline: 2px solid #f1a501;
}

.hero__link:focus {
  outline: 2px solid #f1a501;
}

.hero__link:active {
  color: #fff;
  background-color: #f1a501;
}

.hero__demo {
  font-size: 17px;
  line-height: 26px;
  padding: 13px 0 13px 73px;
  position: relative;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.hero__demo::before {
  content: "";
  position: absolute;
  z-index: 4;
  width: 52px;
  height: 52px;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: #df6951;
}

.hero__demo::after {
  content: "";
  position: absolute;
  z-index: 5;
  left: 27px;
  top: 50%;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 15px solid #fff;
  border-bottom: 8px solid transparent;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.hero__demo:hover {
  color: #ff946d;
}

.hero__demo:hover::after {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
      -ms-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.hero__demo:focus {
  outline: 2px solid #f1a501;
  border-radius: 10px;
}

.hero__demo:active {
  color: #5e6282;
  outline: transparent;
}

.services {
  background-image: url("../img/service-bg-1.svg");
  background-repeat: no-repeat;
  background-position: 95% top;
  background-size: 153px 166px;
  padding-bottom: 33px;
  margin-bottom: 123px;
}

.services .subtitle {
  text-align: center;
  margin-bottom: 10px;
}

.services .title {
  text-align: center;
  margin-bottom: 66px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 25px;
}

.services__item {
  opacity: 0;
  max-width: 267px;
  width: 100%;
  max-height: 314px;
  text-align: center;
  padding: 150px 0 45px;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 36px;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.no-webp .services__item::before {
  background-image: url("../img/service-item-active.png"); }

.services__item::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px;
  left: 11px;
  bottom: 11px;
  -webkit-transition: left 0.2s ease-in-out, bottom 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out, bottom 0.2s ease-in-out;
  transition: left 0.2s ease-in-out, bottom 0.2s ease-in-out;
}

.no-webp .services__item--weather {
  background-image: url("../img/satellite-dish.png"); }

.services__item--weather {
  background-position: 55% 40px;
}

.services__item--weather._active {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}

.no-webp .services__item--flights {
  background-image: url("../img/plane.png"); }

.services__item--flights {
  background-position: center -5px;
}

.services__item--flights._active {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

.no-webp .services__item--events {
  background-image: url("../img/micro.png"); }

.services__item--events {
  background-position: 55% 40px;
}

.services__item--events._active {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.no-webp .services__item--customization {
  background-image: url("../img/group.png"); }

.services__item--customization {
  background-position: 55% 50px;
}

.services__item--customization._active {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.services__item:hover {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.services__item:hover::before {
  left: -33px;
  bottom: -33px;
}

.services__category {
  color: #14183e;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 15px;
}

.services__text {
  line-height: 1.62;
  padding: 0 43px 45px;
  background-color: #fff;
  border-radius: 36px;
}

.destinations {
  margin-bottom: 186px;
}

.destinations .subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.destinations .subtitle._active {
  -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0.5s both;
          animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0.5s both;
}

.destinations .title {
  text-align: center;
  margin-bottom: 60px;
}

.destinations .title._active {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.no-webp .destinations__list {
  background-image: url("../img/destunatuons-decore.png"); }

.destinations__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  background-repeat: no-repeat;
  background-position: 97% 80%;
  background-size: 96px 252px;
  grid-gap: 45px;
}

.destinations__list._active .destinations__item._active:nth-child(1) {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

.destinations__list._active .destinations__item._active:nth-child(2) {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.destinations__list._active .destinations__item._active:nth-child(3) {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.destinations-card {
  opacity: 0;
}

.destinations-card__link {
  font-size: 18px;
  line-height: 1.245;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
          filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.destinations-card__link:hover {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}

.destinations-card__info {
  padding: 27px 25px 42px 20px;
  background-color: #fff;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  border-radius: 0 0 24px 24px;
}

.destinations-card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 19px;
}

.destinations-card__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.245;
}

.destinations-card__duration {
  font-size: 16px;
  display: block;
  padding-left: 32px;
  background-image: url("../img/icons/icons.svg#dest-icon");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
}

.steps {
  margin-bottom: 204px;
}

.steps .container {
  position: relative;
}

.steps .subtitle {
  margin-bottom: 15px;
}

.steps .title {
  margin-bottom: 31px;
  max-width: 511px;
}

.steps__contant {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.steps__list._active li:nth-child(1) {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.steps__list._active li:nth-child(2) {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

.steps__list._active li:nth-child(3) {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}

.steps__item {
  opacity: 0;
  padding-left: 69px;
  font-size: 16px;
  line-height: 124.5%;
  background-repeat: no-repeat;
  background-position: left 4px;
}

.steps__item:not(:last-child) {
  margin-bottom: 48px;
}

.steps__step {
  font-weight: 700;
  margin-bottom: 4px;
}

.steps__text {
  font-weight: 400;
  max-width: 327px;
}

.steps__img {
  opacity: 0;
  position: absolute;
  z-index: -1;
  right: 124px;
  top: 78px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 26px;
}

.no-webp .steps__img::before {
  background-image: url("../img/steps-bg-2.png"); }

.steps__img::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  width: 354px;
  height: 367px;
  top: -59px;
  right: -44px;
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.no-webp .steps__img::after {
  background-image: url("../img/steps-bg-1.png"); }

.steps__img::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 263px;
  height: 129px;
  right: -115px;
  bottom: 52px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 18px;
}

.steps__img._active {
  -webkit-animation: slide-in-fwd-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
          animation: slide-in-fwd-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
}

.testimonials {
  margin-bottom: 108px;
}

.testimonials .container {
  position: relative;
}

.testimonials__title {
  position: absolute;
  left: 15px;
  top: 0;
  max-width: 409px;
}

.testimonials__swiper {
  overflow: hidden;
  position: relative;
  padding: 34px 11% 77px 47%;
  max-height: 356px;
  opacity: 0;
}

.testimonials__swiper._active {
  -webkit-animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.testimonials__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 10px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  width: 100%;
  height: 100%;
}

.testimonials__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 504px;
  position: relative;
  z-index: 1;
  right: -44px;
  bottom: 180px;
  padding: 28px 34px 22px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: right 0.2s ease-in-out, top 0.2s ease-in-out;
  -o-transition: right 0.2s ease-in-out, top 0.2s ease-in-out;
  transition: right 0.2s ease-in-out, top 0.2s ease-in-out;
}

.testimonials__slide--acive {
  position: relative;
  right: 0;
  top: 0;
  z-index: 5;
}

.testimonials__slide--acive .testimonials__slide-image {
  left: -37px;
  top: -34px;
}

.testimonials__slide-image {
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: left 0.2s ease-in-out, top 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out, top 0.2s ease-in-out;
  transition: left 0.2s ease-in-out, top 0.2s ease-in-out;
}

.testimonials__text {
  margin-bottom: auto;
  font-size: 16px;
  line-height: 2;
}

.testimonials__autor {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.testimonials__area {
  display: block;
  font-size: 14px;
  line-height: 1.5;
}

.testimonials__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.testimonials__pagination._active {
  -webkit-animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.testimonials__pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #dfd7f9;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.testimonials__pagination-bullet:not(:last-child) {
  margin-right: 26px;
}

.testimonials__pagination-bullet--active {
  background-color: #39425d;
}

.testimonials__button-prev,
.testimonials__button-next {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .swiper-button-disabled .testimonials__button-icon {
  stroke: #dfd7f9;
  fill: transparent;
}

.testimonials__button-prev {
  top: 42%;
}

.testimonials__button-next {
  top: 57%;
}

.testimonials__button-icon {
  width: 14px;
  height: 7px;
  stroke: #080809;
  fill: transparent;
  -webkit-transition: stroke 0.2s ease-in-out;
  -o-transition: stroke 0.2s ease-in-out;
  transition: stroke 0.2s ease-in-out;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px 111px;
}

.logos._active li:nth-child(1) {
  -webkit-animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
          animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
}

.logos._active li:nth-child(2) {
  -webkit-animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
          animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}

.logos._active li:nth-child(3) {
  -webkit-animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
          animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

.logos._active li:nth-child(4) {
  -webkit-animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
          animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.logos._active li:nth-child(5) {
  -webkit-animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.logos__item {
  opacity: 0;
  max-width: 214px;
  width: 100%;
}

.logos__item:not(:last-child) {
  margin-right: 16px;
}

.logos__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 86px;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.logos__link:hover {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.logos__link:hover .logos__image {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) grayscale(0);
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) grayscale(0);
}

.logos__image {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) grayscale(1);
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) grayscale(1);
  -webkit-transition: -webkit-filter 0.2s ease-in-out;
  transition: -webkit-filter 0.2s ease-in-out;
  -o-transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}

.subscribe {
  margin-bottom: 166px;
}

.no-webp .subscribe__form {
  background-image: url("../img/form-decor-2.png"); }

.subscribe__form {
  opacity: 0;
  padding: 79px 20px;
  background-color: rgba(223, 215, 249, 0.2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 129px 20px 20px 20px;
  position: relative;
}

.subscribe__form._active {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.no-webp .subscribe__form::after {
  background-image: url("../img/form-decor-1.png"); }

.subscribe__form::after {
  content: "";
  position: absolute;
  right: -20px;
  top: -13px;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__form::before {
  content: "";
  position: absolute;
  background-image: url("../img/subscribe-decor.svg");
  background-repeat: no-repeat;
  right: -99px;
  bottom: -70px;
  width: 156px;
  height: 166px;
}

.subscribe__text {
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  max-width: 860px;
  margin-bottom: 74px;
}

.subscribe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe__input {
  padding: 25px 66px;
  background: #fff;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  background-image: url("../img/mail.svg");
  background-size: 21px 18px;
  background-repeat: no-repeat;
  background-position: 31px 25px;
}

.subscribe__input::-webkit-input-placeholder {
  color: #39425d;
}

.subscribe__input::-moz-placeholder {
  color: #39425d;
}

.subscribe__input:-ms-input-placeholder {
  color: #39425d;
}

.subscribe__input::-ms-input-placeholder {
  color: #39425d;
}

.subscribe__input::placeholder {
  color: #39425d;
}

.subscribe__input:focus {
  outline: 2px solid #dfd7f9;
}

.subscribe__button {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff946d), to(#ff7d68));
  background: -o-linear-gradient(top, #ff946d 0%, #ff7d68 100%);
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
  padding: 22px 50px;
  color: #fff;
  outline: 2px solid transparent;
  background-size: 1px 80px;
  -webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, outline 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, outline 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.subscribe__button:hover {
  outline: 2px solid #df6951;
}

.subscribe__button:focus {
  outline: 2px solid #df6951;
}

.footer {
  padding-bottom: 80px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 51px 80px;
}

.footer__wrapper._active .footer__desc {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.footer__wrapper._active .footer__nav {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.footer__wrapper._active .footer__nav .footer__nav-list li:nth-child(1) {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
          animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

.footer__wrapper._active .footer__nav .footer__nav-list li:nth-child(2) {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
          animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

.footer__wrapper._active .footer__nav .footer__nav-list li:nth-child(3) {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
          animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}

.footer__wrapper._active .footer__outbound {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.footer__desc {
  opacity: 0;
}

.footer__logo {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 19px;
}

.footer__logo:focus {
  outline: 2px solid #5e6282;
  border-radius: 5px;
}

.footer__logo:active {
  outline: transparent;
  opacity: 0.75;
}

.footer__text {
  font-size: 13px;
  line-height: 1.245;
  max-width: 207px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
}

.footer__nav-col:first-child {
  margin-right: 72px;
}

.footer__nav-col:nth-child(2) {
  margin-right: 91px;
}

.footer__nav-title {
  margin-bottom: 34px;
  color: #080809;
  font-size: 21px;
  line-height: 1.245;
}

.footer__nav-item {
  opacity: 0;
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 12px;
}

.footer__nav-link {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-size: 18px;
  line-height: 1.245;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.footer__nav-link:hover {
  color: #df6951;
}

.footer__nav-link:focus {
  outline: 2px solid #5e6282;
  border-radius: 5px;
}

.footer__nav-link:active {
  outline: transparent;
  opacity: 0.75;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
}

.footer__social-item:not(:last-child) {
  margin-right: 25px;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  height: 41px;
  -webkit-box-shadow: 0px 2px 10px rgba(8, 8, 9, 0.1);
          box-shadow: 0px 2px 10px rgba(8, 8, 9, 0.1);
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.footer__social-link--instagram {
  background: conic-gradient(from 180deg at 50% 50%, #b8d2f1 0deg, #f289aa 60deg, #c68bf0 106.09deg, #d164da 153.75deg, #c963e8 221.25deg, #bfc2e8 258.75deg, #ffc999 288.75deg, #d0d8c9 315deg, #bad0f1 334.13deg, #ced8cb 358.97deg, rgba(255, 255, 255, 0) 360deg);
}

.footer__social-link:hover {
  -webkit-box-shadow: 0px 2px 10px rgba(223, 105, 81, 0.8);
          box-shadow: 0px 2px 10px rgba(223, 105, 81, 0.8);
}

.footer__social-link:focus {
  outline: 2px solid #5e6282;
}

.footer__social-link:active {
  outline: transparent;
  opacity: 0.75;
}

.footer__social-icon {
  fill: #080809;
  stroke: #080809;
  width: 16px;
  height: 13px;
}

.footer__app-tex {
  font-size: 20px;
  line-height: 1.245;
  margin-bottom: 16px;
}

.footer__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__app-item:not(:last-child) {
  margin-right: 7px;
}

.footer__app-link {
  display: block;
}

.footer__app-link:focus {
  outline: 2px solid #5e6282;
  border-radius: 17.5px;
}

.footer__app-link:active {
  outline: transparent;
  opacity: 0.75;
}

.footer__copy {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .header__list {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    margin-right: 55px;
  }

  .header .login {
    margin-right: 30px;
  }

  .header .sign-up {
    margin-right: 25px;
  }

  .services__item:hover::before {
    left: -23px;
    bottom: -23px;
  }
}

@media (max-width: 991px) {
  .title {
    font-size: 45px;
  }

  .subtitle {
    font-size: 17px;
  }

  .header {
    padding: 35px;
  }

  .header--fixed {
    padding: 10px;
  }

  .header__wrapper {
    -webkit-transform: translateX(-150%);
        -ms-transform: translateX(-150%);
            transform: translateX(-150%);
    display: block;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px;
    background-color: #fff;
    min-height: 100vh;
    max-width: 330px;
    overflow: auto;
  }

  .header__wrapper--active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .header .burger-menu {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .header .burger-header {
    display: block;
  }

  .header__list {
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    margin-bottom: 30px;
  }

  .header__link {
    display: block;
  }

  .hero {
    margin-bottom: 70px;
    padding-top: 85px;
  }

  .hero__wrapper {
    padding: 78px 15px;
  }

  .hero__image {
    width: 665px;
    height: 665px;
  }

  .hero__tagline {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .hero__title {
    font-size: 64px;
    max-width: 430px;
    margin-bottom: 26px;
  }

  .services {
    background-size: 133px 146px;
    margin-bottom: 90px;
  }

  .services .title {
    margin-bottom: 45px;
  }

  .services__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .services__item {
    -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    padding: 150px 0 45px;
  }

  .destinations {
    margin-bottom: 120px;
  }

  .destinations .title {
    margin-bottom: 45px;
  }

  .destinations__list._active .destinations__item._active:nth-child(1) {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .destinations__list._active .destinations__item._active:nth-child(2) {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .destinations__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: 0;
    margin-left: 0;
  }

  .steps {
    margin-bottom: 120px;
  }

  .steps__contant {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
  }

  .testimonials {
    margin-bottom: 80px;
  }

  .testimonials__title {
    position: static;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto 45px;
    text-align: center;
  }

  .testimonials__title .subtitle {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto;
  }

  .testimonials__swiper {
    padding: 34px 100px 77px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto;
  }

  .testimonials__text {
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .logos {
    overflow: auto;
    margin: 0 10px 90px;
  }

  .logos::-webkit-scrollbar {
    display: none;
  }

  .logos__item {
    min-width: 214px;
  }

  .logos__link {
    mix-blend-mode: normal;
  }

  .subscribe {
    margin-bottom: 120px;
  }

  .subscribe__form {
    padding: 59px 20px;
  }

  .subscribe__text {
    font-size: 28px;
    margin-bottom: 54px;
  }

  .footer {
    padding-bottom: 60px;
  }

  .footer__wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .footer__nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 756px) {
  .title {
    font-size: 35px;
  }

  .subtitle {
    font-size: 16px;
  }

  .header {
    padding: 25px;
  }

  .header--fixed {
    padding: 10px;
  }

  .hero {
    margin-bottom: 50px;
    padding-top: 70px;
  }

  .hero__wrapper {
    padding: 60px 15px;
  }

  .hero__image {
    width: 535px;
    height: 535px;
  }

  .hero__tagline {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .hero__title {
    font-size: 44px;
    margin-bottom: 20px;
    max-width: 340px;
  }

  .hero__text {
    margin-bottom: 24px;
  }

  .services {
    background-size: 113px 126px;
    margin-bottom: 60px;
  }

  .services .title {
    margin-bottom: 35px;
  }

  .destinations {
    margin-bottom: 60px;
  }

  .destinations .title {
    margin-bottom: 35px;
  }

  .steps {
    margin-bottom: 60px;
  }

  .steps__img {
    display: none;
  }

  .testimonials {
    margin-bottom: 65px;
  }

  .testimonials__title {
    margin-bottom: 35px;
  }

  .testimonials__swiper {
    padding: 33px 75px 70px;
    max-height: 320px;
  }

  .testimonials__slide {
    bottom: 155px;
    max-width: 504px;
    width: 100%;
  }

  .testimonials__pagination-bullet:not(:last-child) {
    margin-right: 10px;
  }

  .logos {
    margin: 0 10px 70px;
  }

  .logos__item {
    min-width: 180px;
  }

  .logos__item:not(:last-child) {
    margin-right: 10px;
  }

  .logos__link {
    height: 66px;
  }

  .subscribe {
    margin-bottom: 80px;
  }

  .subscribe__form {
    padding: 39px 20px;
  }

  .subscribe__text {
    font-size: 23px;
    margin-bottom: 44px;
  }

  .footer {
    padding-bottom: 45px;
  }

  .footer__wrapper {
    margin: 0 0 60px;
  }
}

@media (max-width: 564px) {
  .title {
    font-size: 25px;
  }

  .subtitle {
    font-size: 15px;
  }

  .header {
    padding: 10px;
  }

  .header .logo {
    width: 80px;
  }

  .hero {
    margin-bottom: 30px;
    padding-top: 60px;
  }

  .hero__wrapper {
    padding: 0;
  }

  .hero__image {
    width: 340px;
    height: 340px;
  }

  .hero__contant {
    max-width: 100%;
    padding: 30px 0;
  }

  .hero__tagline {
    margin-bottom: 10px;
  }

  .hero__title {
    font-size: 30px;
    margin-bottom: 15px;
    max-width: 230px;
  }

  .hero__title span::before {
    bottom: -9%;
    background-size: contain;
  }

  .hero__text {
    margin-bottom: 14px;
  }

  .hero__link {
    padding: 10px 13px;
    font-size: 16px;
    margin-right: 10px;
  }

  .hero__demo::before {
    width: 40px;
    height: 40px;
  }

  .hero__demo::after {
    left: 22px;
  }

  .hero__demo {
    padding: 7px 0 7px 50px;
  }

  .services {
    background-size: 83px 96px;
    margin-bottom: 30px;
  }

  .services .title {
    margin-bottom: 20px;
  }

  .services__item {
    padding: 135px 0 0px;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    max-width: 220px;
  }

  .destinations {
    margin-bottom: 30px;
  }

  .destinations .title {
    margin-bottom: 20px;
  }

  .destinations__list {
    grid-gap: 20px;
  }

  .steps {
    margin-bottom: 30px;
  }

  .steps__step {
    max-width: 200px;
  }

  .testimonials {
    margin-bottom: 50px;
  }

  .testimonials__title {
    margin-bottom: 20px;
  }

  .testimonials__swiper {
    padding: 33px 36px 55px;
    max-height: 350px;
  }

  .testimonials__slide {
    padding: 16px 20px 15px;
    bottom: 205px;
    right: -25px;
  }

  .testimonials__text {
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .testimonials__pagination {
    display: none;
  }

  .testimonials__button-prev,
  .testimonials__button-next {
    display: none;
  }

  .logos {
    margin: 0 0 50px;
  }

  .logos__item {
    min-width: 165px;
  }

  .logos__link {
    height: 45px;
  }

  .subscribe {
    margin-bottom: 50px;
  }

  .subscribe__form::after {
    display: none;
  }

  .subscribe__form {
    padding: 19px 20px;
    border-radius: 20px;
  }

  .subscribe__text {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .subscribe__input {
    width: 100%;
  }

  .footer {
    padding-bottom: 30px;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 30px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }

  .footer__logo {
    margin-bottom: 10px;
    width: 115px;
  }

  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    row-gap: 15px;
    margin-bottom: 20px;
  }

  .footer__nav-title {
    margin-bottom: 10px;
  }
}

.webp .hero { background-image: url(../img/decore-hero.webp); }

.webp .services__item::before { background-image: url(../img/service-item-active.webp); }

.webp .services__item--weather { background-image: url(../img/satellite-dish.webp); }

.webp .services__item--flights { background-image: url(../img/plane.webp); }

.webp .services__item--events { background-image: url(../img/micro.webp); }

.webp .services__item--customization { background-image: url(../img/group.webp); }

.webp .destinations__list { background-image: url(../img/destunatuons-decore.webp); }

.webp .steps__img::before { background-image: url(../img/steps-bg-2.webp); }

.webp .steps__img::after { background-image: url(../img/steps-bg-1.webp); }

.webp .subscribe__form { background-image: url(../img/form-decor-2.webp); }

.webp .subscribe__form::after { background-image: url(../img/form-decor-1.webp); }